<main>
  <h1>Felhasználói profilok</h1>
  <div class="profile-list">
    <div class="profile-card" *ngFor="let user of userList">
      <img
        src="blank-profile-picture.webp"
        alt="Profilkép"
        class="profile-image"
      />
      <div class="profile-info">
        <h2>{{ user.Name }}</h2>
        <p><strong>Email:</strong> {{ user.Email }}</p>
        <p><strong>Telefonszám:</strong> {{ user.Phone }}</p>
        <p><strong>Leírás:</strong> {{ user.Description }}</p>
        <div class="profile-actions">
          <button class="edit-btn">Szerkesztés</button>
          <button class="delete-btn" (click)="deleteUser(user.id)">
            Törlés
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
