<main>
  <div class="left">
    <a routerLink="/home"><img src="logo_sm.png" alt="Logo" /></a>
  </div>
  <div class="right">
    <button class="header-btn" routerLink="/home">kezdőlap</button>
    <button class="header-btn" routerLink="/about-us">rólunk</button>
    <button class="header-btn" routerLink="/search">ingatlan keresés</button>
    <button
      *ngIf="isLoggedIn"
      class="header-btn"
      routerLink="/create-real-estate"
    >
      ingatlan felvitele
    </button>
    <button *ngIf="!isLoggedIn" class="header-btn" routerLink="/login">
      bejelentkezés
    </button>
    <button *ngIf="!isLoggedIn" class="header-btn" routerLink="/registration">
      regisztráció
    </button>
    <button
      *ngIf="isLoggedIn"
      class="header-btn"
      [routerLink]="['/profile', userID]"
    >
      profilom
    </button>
    <button *ngIf="isLoggedIn" class="header-btn" (click)="logout()">
      kijelentkezés
    </button>
  </div>

  <!-- Burger Menu -->
  <div class="burger-menu">
    <button class="burger-icon" (click)="toggleBurgerMenu()">
      <img src="burger-icon.png" alt="Burger" />
    </button>
    <div class="burger-btns" *ngIf="isBurgerMenuOpen">
      <button
        class="header-btn"
        routerLink="/home"
        (click)="toggleBurgerMenu()"
      >
        kezdőlap
      </button>
      <button
        class="header-btn"
        routerLink="/about-us"
        (click)="toggleBurgerMenu()"
      >
        rólunk
      </button>
      <button
        class="header-btn"
        routerLink="/search"
        (click)="toggleBurgerMenu()"
      >
        ingatlan keresés
      </button>
      <button
        *ngIf="isLoggedIn"
        class="header-btn"
        routerLink="/create-real-estate"
        (click)="toggleBurgerMenu()"
      >
        ingatlan felvitele
      </button>
      <button
        *ngIf="!isLoggedIn"
        class="header-btn"
        routerLink="/login"
        (click)="toggleBurgerMenu()"
      >
        bejelentkezés
      </button>
      <button
        *ngIf="!isLoggedIn"
        class="header-btn"
        routerLink="/registration"
        (click)="toggleBurgerMenu()"
      >
        regisztráció
      </button>
      <button
        *ngIf="isLoggedIn"
        class="header-btn"
        [routerLink]="['/profile', userID]"
        (click)="toggleBurgerMenu()"
      >
        profilom
      </button>
      <button
        *ngIf="isLoggedIn"
        class="header-btn"
        (click)="logout(); toggleBurgerMenu()"
      >
        kijelentkezés
      </button>
    </div>
  </div>
</main>
