button{
    background-color: #fff7de;
    border: none;
    width: 170px;
    height: 50px;
    text-align: center;
    color: #257180;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}
button:hover {
    background-color: #d4c38d;
    transition: 1s;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(77, 72, 72);
}
button:active{   
    background-color: #d4c38d;
    transition: 1s;
    cursor: pointer;
    box-shadow: inset 3px 3px 5px rgb(77, 72, 72);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: #1c5f5f;
}
input{
    width: 200px;
    height: 30px;
    border: solid 2px #257180;
}
textarea{
    width: 80%;
    height: 100px;
    border: solid 2px #257180;
}
select{
    width: 200px;
    height: 30px;
    border: solid 2px #257180;
}
label{
    margin: 20px;
}
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #1c5f5f;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    margin-right: 8px;
    vertical-align: middle;
    background-color: white;
  }