<main>  
    <div class="image">
        <img src="reg.png" alt="registration">
    </div>  
    <div class="reg">
        <h1>Regisztráció</h1>
        <div class="name">
            <label for="name">Név:</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="email">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="phone">
            <label for="name">Telefonszám:</label>
            <input type="number" id="phone" name="phone">
        </div>
        <div class="password">
            <label for="pwd">Jelszó:</label>
            <input type="password" id="pwd" name="pwd">
        </div>
        <div class="password">
            <label for="pwd_again">Jelszó újból:</label>
            <input type="password" id="pwd_again" name="pwd_again">
        </div>
        <button>Regisztráció</button>

    </div>
</main>