<main>
    <div class="banner">
        <div class="banner_text">
            <h1>Rólunk</h1>
        </div>
        <img src="rolunk.png" alt="banner">
    </div>
    <div class="text">
        <div class="start">
            <img src="key1.png" alt="kezdetunk">
            <div class="start_text">
                <h2>Kezdteünk</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, libero vitae vulputate
                    dignissim, purus quam volutpat erat, et sagittis quam velit nec justo. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis egestas. Nam cursus suscipit sem, sit amet
                    ultricies lorem aliquam at. Praesent nunc tellus, tincidunt nec leo a, sodales venenatis erat. Nam
                    dictum ultrices est id finibus. Nulla bibendum laoreet ornare. Etiam vel viverra risus. Cras mollis
                    aliquet erat, sed iaculis felis ultrices sit amet. Donec quis urna id diam ullamcorper consectetur
                    ut id dolor. Maecenas vel convallis est. Sed sodales viverra velit, eget pellentesque ex semper ut.
                    Fusce tempus augue nibh, vel consequat metus consequat ac. Praesent elementum dui non egestas
                    pulvinar.</p>
            </div>
        </div>
        <div class="success">
            <div class="success_text">
                <h2>Sikereink</h2>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, libero vitae vulputate
                    dignissim, purus quam volutpat </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, libero vitae vulputate
                    dignissim, purus quam volutpat </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, libero vitae vulputate
                    dignissim, purus quam volutpat </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, libero vitae vulputate
                    dignissim, purus quam volutpat </li>
            </div>
            <img src="key2.png" alt="sikereink">
        </div>
        <h2>Jövőnk</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, libero vitae vulputate dignissim,
            purus quam volutpat erat, et sagittis quam velit nec justo. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Nam cursus suscipit sem, sit amet ultricies lorem aliquam at.
            Praesent nunc tellus, tincidunt nec leo a, sodales venenatis erat. Nam dictum ultrices est id finibus. Nulla
            bibendum laoreet ornare. Etiam vel viverra risus. Cras mollis aliquet erat, sed iaculis felis ultrices sit
            amet. Donec quis urna id diam ullamcorper consectetur ut id dolor. Maecenas vel convallis est. Sed sodales
            viverra velit, eget pellentesque ex semper ut. Fusce tempus augue nibh, vel consequat metus consequat ac.
            Praesent elementum dui non egestas pulvinar.</p>
        <h3>Dolor sit amet, consectetur adipiscing elit. Donec ultrices erat sit amet</h3>
    </div>
</main>