<main>
  <h1>INGATLAN SZERKESZTÉSE</h1>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="details-container">
      <div class="details-row">
        <label for="city">Település</label><br />
        <input
          type="text"
          id="city"
          name="City"
          [(ngModel)]="realEstateData.City"
          required
        /><br />
      </div>
      <div class="details-row">
        <label for="postcode">Irányítószám</label><br />
        <input
          type="number"
          id="postcode"
          name="PostalCode"
          [(ngModel)]="realEstateData.PostalCode"
          required
        /><br />
      </div>
      <div class="details-row">
        <label for="address">Cím</label><br />
        <input
          type="text"
          id="address"
          name="Address"
          [(ngModel)]="realEstateData.Address"
          required
        /><br />
      </div>
      <div class="details-row">
        <label for="room">Szobaszám</label><br />
        <input
          type="number"
          id="room"
          name="Rooms"
          [(ngModel)]="realEstateData.Rooms"
          required
        /><br />
      </div>
      <div class="details-row">
        <label for="area">Alapterület</label><br />
        <input
          type="number"
          placeholder="m²"
          id="area"
          name="SquareMeters"
          [(ngModel)]="realEstateData.SquareMeters"
          required
        /><br />
      </div>
      <div class="details-row">
        <label for="price">Ár</label><br />
        <input
          type="number"
          placeholder="Ft"
          id="price"
          name="Price"
          [(ngModel)]="realEstateData.Price"
          required
        /><br />
      </div>
    </div>
    <div class="prop-container">
      <div class="build-block">
        <h2>Épület típusa:</h2>
        <div class="building-type">
          <div class="buty-row">
            <input
              type="radio"
              id="apartment"
              name="Type"
              [(ngModel)]="realEstateData.Type"
              value="apartment"
              required
            />
            <label for="apartment">Lakás</label><br />
          </div>
          <div class="buty-row">
            <input
              type="radio"
              id="business"
              name="Type"
              [(ngModel)]="realEstateData.Type"
              value="business"
            />
            <label for="business">Üzlethelyiség</label><br />
          </div>
          <div class="buty-row">
            <input
              type="radio"
              id="house"
              name="Type"
              [(ngModel)]="realEstateData.Type"
              value="house"
            />
            <label for="house">Ház</label><br />
          </div>
          <div class="buty-row">
            <input
              type="radio"
              id="office"
              name="Type"
              [(ngModel)]="realEstateData.Type"
              value="office"
            />
            <label for="office">Iroda</label><br />
          </div>
        </div>
      </div>
      <div class="prop-block">
        <h2>Egyéb jellemzők:</h2>
        <div class="other-things">
          <div class="prop-row" *ngFor="let feature of availableFeatures">
            <input
              type="checkbox"
              [id]="feature.key"
              [name]="feature.key"
              [value]="feature.id"
              (change)="toggleFeature(feature.id)"
              [checked]="isFeatureSelected(feature.id)"
            />
            <label [for]="feature.key">{{ feature.name }}</label
            ><br />
          </div>
        </div>
      </div>
    </div>
    <div class="desc">
      <h2>Leírás:</h2>
      <br />
      <textarea
        name="Description"
        id="txtarea"
        [(ngModel)]="realEstateData.Description"
      ></textarea
      ><br />
    </div>
    <div class="bt2">
      <button type="submit">Ingatlan frissítése</button>
    </div>
  </form>
</main>
