<main>  
    <div class="image">
      <img src="bejelentkezes.png" alt="login">
    </div>  
    <div class="login">        
      <h1>Bejelentkezés</h1>
      <div class="email">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email">
      </div>
      <div class="password">
        <label for="pwd">Jelszó:</label>
        <input type="password" id="pwd" name="pwd" [(ngModel)]="password">
      </div>
      <button (click)="login()">Belépés</button>
    </div>
  </main>
  